<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <!-- Service label used to identify the service -->
        <key>Label</key>
        <string>com.laoshanxi.appmesh</string>

        <!-- Program arguments, defining the command to be executed -->
        <key>ProgramArguments</key>
        <array>
            <string>/opt/appmesh/bin/appmesh</string>
        </array>

        <!-- Populated from appmesh.default by setup.sh. -->
        <key>EnvironmentVariables</key>
        <dict/>

        <!-- Working directory, defining the working directory for the service -->
        <key>WorkingDirectory</key>
        <string>/opt/appmesh</string>

        <!-- Run the service at load -->
        <key>RunAtLoad</key>
        <true/>

        <!-- Keep the service alive -->
        <key>KeepAlive</key>
        <true/>

        <!-- Standard error output path -->
        <key>StandardErrorPath</key>
        <string>/var/log/appmesh.err</string>

        <!-- Standard output path -->
        <key>StandardOutPath</key>
        <string>/var/log/appmesh.out</string>
    </dict>
</plist>
