################################################################################
## service definition for systemd
## target location: /etc/systemd/system/appmesh.service
## https://wiki.archlinux.org/index.php/systemd_(%E7%AE%80%E4%BD%93%E4%B8%AD%E6%96%87)
################################################################################

[Unit]
Description=App Mesh daemon service
Documentation=https://github.com/laoshanxi/app-mesh
After=network.target
Wants=network.target

[Service]
Type=simple
PIDFile=/var/run/appmesh.pid
Environment="LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/opt/appmesh/lib64:/usr/local/lib64:/usr/local/lib/"
EnvironmentFile=-/opt/appmesh/script/appmesh.environment
# work dir will force set to /opt/appmesh/work in main.cpp
WorkingDirectory=/opt/appmesh/
ExecStart=/opt/appmesh/bin/appsvc
ExecStop=/bin/killall /opt/appmesh/bin/appsvc
Restart=on-failure
RestartSec=2
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
# inherit/null/tty/journal/syslog/kmsg
StandardOutput=null
User=
Group=

[Install]
WantedBy=multi-user.target
