################################################################################
# App Mesh systemd service definition
# Target location: /etc/systemd/system/appmesh.service
# systemd document:
# https://wiki.archlinux.org/index.php/systemd_(%E7%AE%80%E4%BD%93%E4%B8%AD%E6%96%87) 
#
# To customize environment variables, use the Environment directive as follows:
# Environment="VAR1=value1" "VAR2=value2"
################################################################################

[Unit]
Description=App Mesh daemon service
Documentation=https://github.com/laoshanxi/app-mesh
After=network.target
Wants=network.target

[Service]
Type=simple
PIDFile=/opt/appmesh/appmesh.pid
Environment=
EnvironmentFile=/opt/appmesh/appmesh.default
WorkingDirectory=/opt/appmesh
ExecStart=/opt/appmesh/bin/appsvc
ExecStop=/bin/sh -c 'kill -TERM $(cat /opt/appmesh/appmesh.pid)'
ExecReload=/bin/sh -c 'kill -HUP $(cat /opt/appmesh/appmesh.pid)'
Restart=always
RestartSec=2
StartLimitIntervalSec=0
StartLimitBurst=0
KillMode=process
# inherit/null/tty/journal/syslog/kmsg
StandardOutput=null
User=
Group=

[Install]
WantedBy=multi-user.target
