# https://www.cnblogs.com/Tsanfer/p/12456317.html

# markdown suport
recommonmark
# markdown table suport
sphinx-markdown-tables
# emoji
sphinxemoji

# theme default rtd

# crate-docs-theme
sphinx-rtd-theme

# api doc
sphinxcontrib-apidoc

# dependency for appmesh_client.py
appmesh

# TODO: Remove when resolved: https://github.com/psf/requests/issues/6432
urllib3<2.0.3
