name: "release-windows-package"

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - ".github/workflows/build-windows.yaml"
      - "src/**"
      - "script/**"

env:
  APPMESH_VERSION: "2.2.1"

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set PowerShell Execution Policy
        shell: pwsh
        run: Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser

      - name: Setup Build Environment
        shell: pwsh
        run: .\script\setup_build_env\autogen.ps1

      - name: Build binaries
        shell: pwsh
        run: |
          cmake -S . -B build -G "Visual Studio 17 2022" -A x64 -DCMAKE_TOOLCHAIN_FILE="$env:VCPKG_INSTALLATION_ROOT/scripts/buildsystems/vcpkg.cmake" -DVCPKG_TARGET_TRIPLET=x64-windows
          cmake --build build --parallel --config Release --target agent
          cmake --build build --parallel --config Release --target appc
          cmake --build build --parallel --config Release --target appsvc
          cmake --build build --parallel --config Release --target install

      - name: Build package
        shell: pwsh
        run: .\script\pack\build_package.ps1

      - name: Upload packages
        uses: actions/upload-artifact@v7
        with:
          name: windows-${{ github.sha }}
          path: build/appmesh_*.exe

  test:
    needs: build
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v6

      - name: Download packages
        uses: actions/download-artifact@v8
        with:
          name: windows-${{ github.sha }}

      - run: choco install 7zip -y
      - run: python -m pip install --upgrade --no-user appmesh pyotp

      - name: Run tests
        shell: pwsh
        run: |
          # Install package
          7z x .\appmesh_2.2.1_windows_x64.exe -oC:\local\appmesh
          ls "C:\local\appmesh"
          Push-Location
          & "C:\local\appmesh\ssl\generate_ssl_cert.ps1"
          Pop-Location

          # Start service
          C:\local\appmesh\bin\nssm.exe install AppMeshService "C:\local\appmesh\bin\appsvc.exe"
          C:\local\appmesh\bin\nssm.exe set AppMeshService Start SERVICE_AUTO_START
          C:\local\appmesh\bin\nssm.exe start AppMeshService

          Start-Sleep -Seconds 2
          #Start-Process -FilePath "C:\local\appmesh\bin\appsvc.exe" -WindowStyle Hidden
          #Start-Sleep -Seconds 2

          ls "C:\local\appmesh"
          cat "C:\local\appmesh\work\server.log"

          C:\local\appmesh\bin\appc -V
          & "C:\local\appmesh\bin\appc.exe" ls
          & "C:\local\appmesh\bin\appc.exe" resource

          ls "C:\local\appmesh\work\stdout"
          cat "C:\local\appmesh\work\stdout\*.out"

          # TODO: ping not work on github action windows host, consider to use curl
          #python src\sdk\python\test\test_appmesh_client.py
          python src\sdk\python\sample.py

      - name: Publish release
        uses: softprops/action-gh-release@v2
        with:
          name: "Security"
          tag_name: ${{ env.APPMESH_VERSION }}
          fail_on_unmatched_files: false
          token: ${{ secrets.PUBLISH_RELEASE }}
          files: appmesh_*.exe
