name: "ci-docker-centos-7"

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/build-centos-7.yml"
      - "docker/Dockerfile.build_centos7"
      - "script/setup_build_env/autogen.sh"
      - "script/setup_build_env/update_openssl.sh"

env:
  REGISTRY: docker.io
  IMAGE_NAME: laoshanxi/appmesh
  IMAGE_TAG: build_centos7

permissions:
  contents: read

jobs:
  build-centos7:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v2
        with:
          egress-policy: audit

      - name: Checkout Github code
        uses: actions/checkout@v6

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push CentOS 7 image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile.build_centos7
          no-cache: true
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:build_centos7
