name: publish-jar-package

# https://docs.github.com/en/actions/publishing-packages/publishing-java-packages-with-maven

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - "src/sdk/java/**"
      - .github/workflows/release-jar-package.yml

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@v2
        with:
          egress-policy: audit

      - uses: actions/checkout@v6

      - name: Setup Maven settings.xml
        run: |
          mkdir -p ~/.m2
          echo "<settings><servers><server><id>github</id><username>${GITHUB_ACTOR}</username><password>${GITHUB_TOKEN}</password></server></servers></settings>" > ~/.m2/settings.xml

      - uses: actions/setup-java@v5
        with:
          java-version: "11"
          distribution: "temurin"

      - name: Publish package
        working-directory: "src/sdk/java/"
        run: mvn --batch-mode deploy -DskipTests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
